{% extends "layout.html" %}

{% block title %}
  Create new account
{% endblock %}

{% block body %}
<div class="w3-container w3-half w3-margin-top">

  <form class="w3-container w3-card-4" style="padding-top: 100px;" action="{{ url_for ('signup') }}" method="post">
    <p>
        <input class="w3-input" type="text" style="width:90%" name="name" required>
        <label>Name</label>
    </p>
    <p>
        <input class="w3-input" type="text" style="width:90%" name="username" required>
        <label>Username</label>
    </p>
    <p>
        <input class="w3-input" type="password" style="width:90%" name="password" required>
        <label>Password</label>
    </p>
  
    <p>
        <button class="w3-button w3-section w3-teal w3-ripple"> Create new account </button></p>
  
  </form>
  
</div>
  
{% endblock %}